* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 450px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: white;
  background-color: rgb(34, 43, 54);
}

.title {
  margin: 8px 0;
  text-align: center;
}

#output {
  margin-top: 16px;
  border: 1px dashed #ddd;
  border-radius: 3px;
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: rgb(69, 182, 125);
  color: white;
  font-weight: bold;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  flex: 1;
}

.btn:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.btn:disabled {
  opacity: 0.5;
}

#numberInput {
  font-size: 16px;
  padding: 8px 4px;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 3px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-1 {
  gap: 8px;
}

.warning {
  background-color: rgb(255, 189, 66);
  padding: 8px;
  text-align: center;
  font-weight: 600;
  color: #323232;
  margin-top: 16px;
}

#copyTextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

#copyTextButton svg {
  width: 16px;
  height: 16px;
}

#copied {
  font-size: 14px;
}

#lastText {
  color: orange;
  font-weight: bold;
}

.items-end {
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
}
